* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: darkslategray;
  height: auto;
  color: white;
  margin-top: 0;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.header {
  font-size: 3em;
  text-decoration: underline;
}

.component {
    margin: 0 auto;
    width: 60%;
    height: 50%;
    background-color: darkolivegreen;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.btn {
  width: 6em;
  height: 2.2em;
  background-color: greenyellow;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  border-radius: 100px;
  border: none;
  margin: 10px;
}

.btn:hover {
  cursor: pointer;
  background-color: green;
}

.btn:active {
  background-color: darkgreen;
}

.input {
  background-color: greenyellow;
  height: 2.2em;
  width: 50%;
  font-family: 'Courier New', Courier, monospace;
  border: none;
  border-radius: 20px;
  padding: 5px;
}

form {
  width: 100%;
}

.textarea {
  background-color: greenyellow;
  height: 4em;
  width: 50%;
  font-family: 'Courier New', Courier, monospace;
  border: none;
  border-radius: 20px;
  padding: 5px;
}

.note {
  width: 50%;
  height: 8em;
  margin: 10px;
  background-color: green;
  border-radius: 20px;
}